<li class="nav-item"><%= link_to current_user.name , current_user, class: "btn-white" %></li>
<li class="nav-item"><%= link_to "ホーム", root_path, class: "btn-white" %></li>
<li class="nav-item"><%= link_to "投稿する", microposts_new_path, class: "btn-white" %></li>
<li class="nav-item"><%= link_to "プロフィール", edit_user_path(current_user) , class: "btn-white" %></li>
<li class="nav-item"><%= link_to "ユーザー一覧", users_path, class: "btn-white" %></li>
<li class="nav-item"><%= link_to "ログアウト", logout_path , method: :delete, class: "btn-white" %></li>