<!DOCTYPE html>
<html>
  <head>
    <title>MONOPHOTONE</title>
　　<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
        
        
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <% if logged_in? %>
      <div class="wrapper flexbox">
        <div class="header-wrapper flexbox">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <%= render "shared/navbar" %>
                </ul>
              </div>
            </nav>
          <div class="user-information">
            <h1>MONOPHOTONE</h1>
          </div>
          <div class="heading">
            <%= render "shared/user-heading" %>
          </div>
        </div>
        <div class="main-wrapper flexbox">
          <aside>
            <nav>
              <ul class="flexbox">
                <%= render "shared/navbar" %>
              </ul>
            </nav>
          </aside>
          <div class="main-content">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    <% end %>
  </body>
</html>
